.Container {
  display: flex;
  flex-direction: column;
}

.NavContainer {
  height: 200px;
  border-radius: 10px;
  padding: 15px;
  left: 5%;
  top: 30%;
  background: transparent;
  color: grey;

  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.NavContainer .child:hover {
  color: black;
  cursor: pointer;
}
.Contents {
  margin-left: 200px;
  width: 500px;
}
@media screen and (max-width: 1000px) {
  .Contents {
    width: 400px;
  }
}
.showContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.underbar {
  border-bottom: 2px solid grey;
}

/* 맨 아래 버튼들 */
.footerContainer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

/* 카테고리 */
.awardContainer {
}
.awardElement {
  padding: 20px;
}

.langContainer {
}
.langElement {
  padding: 20px;
}

.techContainer {
}
.techElement {
  padding: 20px;
}

.hisContainer {
}
.hisElement {
  padding: 20px;
}

.eduContainer {
}
.eduElement {
  padding: 20px;
}

.armyContainer {
}
.armyElement {
  padding: 20px;
}

/* 애니메이션 */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s ease;
}
