.viewContainer {
  display: grid;
  grid-template-areas:
    "pad pad pad"
    "title title title"
    "l btn r"
    "l main r"
    "footer footer footer";
  gap: 0px;
}

.pad {
  grid-area: pad;
}

.Nav {
  background: white;
  padding: 50px;
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
  grid-area: title;
}

.btnContainer {
  grid-area: btn;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: 50px;
  margin: 0 auto;
}

.write {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  text-decoration: none;
  color: grey;
}
.write:hover {
  color: black;
}

.asideLeft {
  grid-area: l;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.asideLeft > ul {
  margin: 0;
  padding: 0;
}
.asideRight {
  grid-area: r;
  text-align: center;
  width: 200px;
  margin: 0px auto;
}
.asideRight > ul {
  margin: 0;
  padding: 0;
}
.tableWrap {
  grid-area: main;
  min-height: 500px;
}
.table {
  border-top: thick double rgb(146, 146, 146);
  margin: 0 auto;
  width: 800px;
}

.table tr {
  border-bottom: 1px solid lightgrey;
}

.table th {
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.table td {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 13px;
}

.table tr:hover {
  background-color: rgba(237, 237, 237, 0.5);
}

.titleHref {
  text-decoration: none;
  color: black;
}

.footer {
  grid-area: footer;
}

.posts {
  border: 1px solid;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 5px; */
}

@media (max-width: 1299px) {
  .table {
    border-top: thick double rgb(146, 146, 146);
    margin: 0 auto;
    width: 700px;
  }
  .btnContainer {
    grid-area: btn;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    height: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .table {
    border-top: thick double rgb(146, 146, 146);
    margin: 0 auto;
    width: 1000px;
  }
  .asideLeft {
    display: none;
  }
  .asideRight {
    display: none;
  }
  .btnContainer {
    grid-area: btn;

    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 1023px) {
  .table {
    border-top: thick double rgb(146, 146, 146);
    margin: 0 auto;
    width: 600px;
  }

  .btnContainer {
    grid-area: btn;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 820px) {
  .viewContainer {
    display: grid;
    grid-template-areas:
      "pad"
      "title"
      "btn"
      "main"
      "footer";
    justify-content: center;
    gap: 0px;
  }

  .btnContainer {
    grid-area: btn;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
  }
  .table {
    border-top: thick double rgb(146, 146, 146);
    margin: 0 auto;
    width: 500px;
  }
  .table th {
    font-size: 0.8rem;
  }
}
